.section_about_modal {
  background-color: #4a4a4a;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}

.about_modal_images {
  display: flex;
  gap: 20px;
  overflow-y: hidden;
  white-space: nowrap;
  scrollbar-width: thin;
  scrollbar-color: #888 transparent; /* Цвет ползунка и прозрачная дорожка (Firefox) */
}

/* Для WebKit (Chrome, Edge, Safari) */
.about_modal_images::-webkit-scrollbar {
  height: 8px;
}

.about_modal_images::-webkit-scrollbar-track {
  background: transparent; /* Полностью прозрачный фон дорожки */
}

.about_modal_images::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  border-radius: 4px;
  border: 1px solid #666; /* Тонкая граница для контраста */
}

img {
  border-radius: 20px;
}
.about_modal_commoda {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.about_modal_lust {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-10px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.about_modal_item {
  animation: none; /* По умолчанию без анимации */
  padding-left: 20px;
}

.about_modal_item.animate {
  animation: fadeInLeft 0.6s ease-out forwards;
  animation-delay: calc(0.2s * var(--i));
}

/* Задаём --i для каждого элемента */
.about_modal_item:nth-child(1) {
  --i: 1;
}
.about_modal_item:nth-child(2) {
  --i: 2;
}
.about_modal_item:nth-child(3) {
  --i: 3;
}
.about_modal_item:nth-child(4) {
  --i: 4;
}
.about_modal_item:nth-child(5) {
  --i: 5;
}
.about_modal_item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #eed812;
  display: inline-block;
}

.link_about_modal {
  color: #818787;
  border-bottom: 1px #818787 solid;
}
.about_modal_media {
  grid-column: 2;
  grid-row: 1/2;
}
.video {
  grid-column: 2;
  grid-row: 2/4;
}
@media (max-width: 1500px) {
  .section_about {
    flex-direction: column;
  }
}
@media (max-width: 800px) {
  .statistics_list {
    flex-direction: column;
  }
}

@media (max-width: 1020px) {
  .section_about_modal {
    grid-template-columns: repeat(1, 1fr);
  }
  .about_modal_media {
    grid-column: 1;
    grid-row: 1;
  }
  .video {
    grid-column: 1;
    grid-row: 2/3;
  }
}
